.carousel-div {
    height: 400px;
  width: 60%;
  
  }


  .slick-slider{
    /* box-shadow: 20px 20px 20px rgb(0, 0, 0); */
    animation-name: slideIn;
    animation-duration: 0.75s;
    width: 60%;
    margin: auto;
    border: 4px #36291c solid;
    margin-top: 5%;
    box-shadow: #ab977c -10px  10px 10px;
    
  }
  .carousel-name {
   /* Add padding for better readability */
    position: absolute;
    top: 290px;
    padding: 30px;
    font-size: 30px;
    color: white;
    font-family: '3dFont';
    z-index: 100;

  }


  .shadow{
    position: absolute;
    top: 0;
    height: 410px;
    width: 700px;
    /* background-color: red; */
    background: radial-gradient(
        farthest-corner at 0 100%,
         rgba(0, 0, 0, 50) 0%,
         rgb(0,0,0,25) 15%,
          rgba(0,0,0,0) 100%);
  }



